@import url('jodit.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main { 
	background-color: hsla(200,40%,30%,.4);
	background-image:		url('/moon.png'),	
  url('/space.jpg');
	background-repeat:no-repeat, repeat-x;
	background-position:-100% 100%,
		25 100%;
	background-size: 900px,
		2500px;
	animation: 100s para infinite linear;
	}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes para {
	100% {
		background-position: 
    1500px 0,
		-5000px 20%;
		}
	}

